body {
    background-color: var(--pale_gray);
}

.box {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.box h2 {
    margin-top: 0;
}

.content_row {
    margin-bottom: 15px;
}



.experience_container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    column-gap: 15px;
    padding: 5px;
}

.experience_container > button {
    position: absolute;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.btn.maxW{
    width: 100%;
}

.btn.noPad{
    padding: 0px;
}

.btn.primary{
    background-color: var(--plae_orange);
}

.btn.primary:hover{
    background-color: var(--orange);
}

.btn.success{
    background-color: var(--pale_green);
}

.btn.success:hover{
    background-color: var(--green);
}

.btn.danger{
    background-color: var(--pale_red);
}

.btn.danger:hover{
    background-color: var(--red);
}

.btn.secondary{
    background-color: var(--pale_gray);
}

.btn.secondary:hover{
    background-color: var(--gray);
}

.content_row.button {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.content_row.button > button {
    width: 250px;
}
